@import url("https://fonts.googleapis.com/css?family=Concert+One");
.logo {
  /* margin:10px 20px; */
  font-family: 'concert One';
  color: gray;
}
.danger{
  color: red;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: gray;
}
