.badge_overlap {
    top: -10px;
    right: -16px;
}
.paddingOut{
	height: 100%;
}
.logout:hover{
	color:red;
}
.inline{
	padding: 16px;
}
.badge_overlap {
    top: -10px;
    right: -16px;
}
.buscador{
	height: 35px !important;
	border-radius: 10px !important;
}
label {
    top: 4px !important;
}
.logo-toolbar{
	padding-top: 5px !important;
    align-items: center !important;
}
.separarBusqueda{
	padding-right:10px;
}
.custom-loader {
	animation: loader 1s infinite;
	display: flex;
}
.alto-logo{
	max-height: 60px !important;
}
@-moz-keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@-o-keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}