.espacio_toolbar{
	margin-top: 64px !important;
}
.espacio_input{
	padding-bottom: 20px;
}
.sin_sombra{
	box-shadow: 0 0px 0px 0px rgba(0,0,0,.2) !important;
}
.margen{
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding: 5px;
}
.fondo-blanco{
	background: #fff;
}
.color-input{
	border-radius: 5px;
	border: 1px solid #c3c3c3 !important;
	max-height: 40px;
	
}
.color-input:focus-within {
	border: 2px solid #1976d2  !important;
}
.align-icon{
	justify-content: flex-start !important;
}
@media (min-width: 768px) {
	.flexible{
		display: -webkit-box!important;
		display: -ms-flexbox!important;
		display: flex!important;
	}
	.borde_perfil{
		border-right: 1px solid #dbdbdb;

	}
}